<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="persona1" class="es.studium.AD4.Persona">
        <property name="nombre" value="Valeria Davydenko"/>
    </bean>

    <bean id="persona2" class="es.studium.AD4.Persona">
        <property name="nombre" value="Álvaro Moreno"/>
    </bean>


    <bean id="habitacion1" class="es.studium.AD4.Habitacion">
        <property name="nombreHabitacion" value="Dormitorio"/>
        <property name="pisoHabitacion" value="1"/>
        <property name="tieneVentana" value="true"/>
        <property name="persona" ref="persona1"/>
    </bean>

    <bean id="habitacion2" class="es.studium.AD4.Habitacion">
        <property name="nombreHabitacion" value="Estudio"/>
        <property name="pisoHabitacion" value="2"/>
        <property name="tieneVentana" value="false"/>
        <property name="persona" ref="persona2"/>
    </bean>

    <bean id="casa" class="es.studium.AD4.Casa">
        <property name="nombreCasa" value="Villa de la hoja"/>
        <property name="propietario" ref="persona2"/>
        <property name="habitaciones">
            <list>
                <ref bean="habitacion1"/>
                <ref bean="habitacion2"/>
            </list>
        </property>
    </bean>
</beans>